@font-face {
  font-family: "Nike";
  src: url(../fonts/futura-condensed-extra-bold.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: aliceblue;
}

ul {
  list-style: none;
  display: flex;
  gap: 60px;
  font-family: "Jost", sans-serif;
  padding: 10px;
}

h2 {
  font-family: "Jost", sans-serif;
}

body {
  background-color: #f6f4d2;
}

/* ============= BOTON SCROLL ============ */
.boton_smooth {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 125px;
  border: 4px solid rgb(176, 56, 56);
  border-radius: 10px;
  background-color: rgb(176, 56, 56);
  color: white;
  box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.5);
  transition: all 300ms;
}
.boton_smooth:hover {
  background-color: rgb(215, 70, 70);
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
}

/* ================== NAV ============== */
.navbar-nav {
  font-family: "Jost", sans-serif;
  font-size: 1.2rem;
  gap: 20px;
  padding-left: 20px;
}

.nav-link {
  color: white;
}
.nav-link:hover {
  color: red;
}

.background-color-nav {
  background-color: black;
}

.link-h1-jordan {
  font-family: "Nike";
  font-size: 2rem;
  color: white;
}

.ul-nav {
  font-family: "Jost", sans-serif;
  font-size: 1.2rem;
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  gap: 20px;
}

/* =============== INICIO ============ */
.titulo_inicio {
  font-family: "Nike";
  text-align: center;
  font-size: 3rem;
  color: black;
  text-align: center;
  transition: all 300ms;
  margin: 0;
}
.titulo_inicio:hover {
  transform: scale(1.2);
}

/* =============== PORTADA ============== */
@media (max-width: 500px) {
  .parrafo_portada {
    padding: 10px;
  }
}
@media (max-width: 599px) {
  .portada_box_responsive {
    padding: 10px;
  }
  .titulo_portada {
    color: rgb(176, 56, 56);
    font-family: "Nike";
    font-size: 1.7rem;
    text-align: start;
    margin: 0;
    border-radius: 7px;
  }
  .parrafo_portada {
    border-radius: 7px;
    font-size: 1.3rem;
    font-family: "Jost", sans-serif;
    text-align: start;
    margin: 0;
  }
}
/* ============= PARRAFOS ============= */
.titulo_parrafos {
  font-family: "Nike";
  text-align: start;
  font-size: 1.7rem;
  transition: all 300ms;
  margin: 0;
  color: rgb(176, 56, 56);
}
.titulo_parrafos:hover {
  transform: scale(1.02);
}

.parrafos_responsive {
  text-align: start;
  display: grid;
  grid-template-columns: 1;
  margin: 10px;
  font-family: "Jost", sans-serif;
}
.parrafos_responsive p {
  text-align: start;
  font-family: "Jost", sans-serif;
  font-size: 1.3rem;
  padding: 10px;
  margin: 0;
}

.titulo_parrafos {
  font-family: "Nike";
  font-size: 2rem;
}

.parrafo {
  padding: 0;
  margin: 0;
}

/* ============ GALERIA ========= */
.galeria_titulo {
  color: rgb(176, 56, 56);
  text-align: center;
  font-family: "Nike";
  font-size: 3rem;
  transition: all 300ms;
  margin: 0;
}
.galeria_titulo:hover {
  transform: scale(1.2);
}

.galeria_imagenes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 50px;
}

.fotos_galeria {
  justify-content: center;
  align-content: center;
  gap: 50px;
  height: 100%;
  transition: all 300ms;
}
.fotos_galeria:hover {
  transform: scale(1.05);
}

.frase_box {
  padding: 15px;
  margin: 0;
}
.frase_box p {
  color: black;
  font-family: "Jost", sans-serif;
  border: 3px solid rgb(176, 56, 56);
  margin: 0;
  text-align: justify;
  font-size: 1.3rem;
  padding: 10px;
  border-radius: 7px;
}

/* ================ TABLETS ====================== */
@media (min-width: 600px) and (max-width: 768px) {
  /* ================= NAV ================= */
  .navbar_nav {
    font-family: "Jost", sans-serif;
    font-size: 1.2rem;
    gap: 20px;
    padding-left: 20px;
  }
  .nav_link {
    color: white;
  }
  .nav_link:hover {
    color: red;
  }
  .background_color_nav {
    background-color: black;
  }
  .link_h1_jordan {
    font-family: "Nike";
    font-size: 2rem;
    color: white;
  }
  .ul_nav {
    font-family: "Jost", sans-serif;
    font-size: 1.2rem;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    gap: 20px;
  }
  /* ======== PORTADA ======== */
  .portada_box_responsive {
    display: block;
    position: relative;
    background-image: url("../img/portadaa2.jpg");
    flex-direction: column;
    height: 406px;
    width: 750px;
    transition: all 300ms;
  }
  .portada_box_responsive:hover {
    transform: scale(1.02);
  }
  .titulo_portada {
    color: white;
    font-size: 2rem;
    font-family: "Nike";
    position: relative;
    top: 170px;
  }
  .parrafo_portada {
    display: none;
  }
  /* ================== PARRAFOS ================== */
  .titulo_parrafos {
    font-family: "Nike";
    font-size: 2rem;
  }
  .parrafos_responsive p {
    text-align: start;
    padding: 10px;
    font-family: "Jost", sans-serif;
  }
}
/* =============== MODIFICACION DE LA PORTADA ============== */
@media (min-width: 769px) and (max-width: 858px) {
  /* ========================= NAV ============================= */
  .navbar_nav {
    font-family: "Jost", sans-serif;
    font-size: 1.2rem;
    gap: 20px;
    padding-left: 20px;
  }
  .nav_link {
    color: white;
  }
  .nav_link:hover {
    color: red;
  }
  .background_color_nav {
    background-color: black;
  }
  .link_h1_jordan {
    font-family: "Nike";
    font-size: 2rem;
    color: white;
  }
  .ul_nav {
    font-family: "Jost", sans-serif;
    font-size: 1.2rem;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    gap: 20px;
  }
  /*  ====================== PARRAFOS ============================ */
  .titulo_parrafos {
    font-family: "Nike";
    font-size: 2rem;
  }
  .parrafos_responsive p {
    text-align: start;
    padding: 10px;
    font-family: "Jost", sans-serif;
  }
  /* =========================== GALERIA ========================== */
  .galeria_imagenes {
    display: flex;
    flex-direction: 2 row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px;
  }
}
/* ============== TABLETS GRANDES ============== */
@media (min-width: 768px) and (max-width: 1199px) {
  /* ================ NAV ============= */
  .navbar_nav {
    font-family: "Jost", sans-serif;
    font-size: 1.2rem;
    gap: 20px;
    padding-left: 20px;
  }
  .nav_link {
    color: white;
  }
  .nav_link:hover {
    color: red;
  }
  .background_color_nav {
    background-color: black;
  }
  .link_h1_jordan {
    font-family: "Nike";
    font-size: 2rem;
    color: white;
  }
  .ul_nav {
    font-family: "Jost", sans-serif;
    font-size: 1.2rem;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    gap: 20px;
  }
  /*=========== PORTADA ================ */
  .portada_box_responsive {
    display: block;
    position: relative;
    background-image: url("../img/portadaa2.jpg");
    width: 750px;
    height: 406px;
    flex-direction: column;
    transition: all 300ms;
  }
  .portada_box_responsive:hover {
    transform: scale(1.02);
  }
  .titulo_portada {
    position: relative;
    top: 120px;
    font-family: "Jost", sans-serif;
    color: aliceblue;
    font-size: 2rem;
    padding: 20px;
  }
  .parrafo_portada {
    position: relative;
    top: 120px;
    font-family: "Jost", sans-serif;
    color: aliceblue;
    font-size: 1.5rem;
    padding: 10px 20px 10px;
  }
  /* =================== PARRAFOS================ */
  .titulo_parrafos {
    font-family: "Nike";
    font-size: 2rem;
  }
  .parrafos_responsive p {
    text-align: start;
    padding: 10px;
    font-family: "Jost", sans-serif;
  }
}
/* ================== TABLETS GRANDES EN HORIZONTAL =============== */
@media (min-width: 859px) and (max-width: 1199px) {
  .navbar_nav {
    font-family: "Jost", sans-serif;
    font-size: 1.2rem;
    gap: 20px;
    padding-left: 20px;
  }
  .nav_link {
    color: white;
  }
  .nav_link:hover {
    color: red;
  }
  .background_color_nav {
    background-color: #f6f4d2;
  }
  .link_h1_jordan {
    font-family: "Nike";
    font-size: 2rem;
    color: white;
  }
  .ul_nav {
    font-family: "Jost", sans-serif;
    font-size: 1.2rem;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    gap: 20px;
  }
}
/* ========= DESKTOP ========= */
@media (min-width: 1200px) {
  /* ================= NAV BAR ===================== */
  .navbar_nav {
    font-family: "Jost", sans-serif;
    font-size: 1.2rem;
    gap: 20px;
    padding-left: 20px;
  }
  .nav_link {
    color: white;
  }
  .nav_link:hover {
    color: red;
  }
  .background_color_nav {
    background-color: #f6f4d2;
  }
  .link_h1_jordan {
    font-family: "Nike";
    font-size: 2rem;
    color: white;
  }
  .ul_nav {
    font-family: "Jost", sans-serif;
    font-size: 1.2rem;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    gap: 20px;
  }
  /* ==============  PORTADA =================== */
  .portada_box_responsive {
    display: block;
    position: relative;
    background-image: url("../img/portadaa.jpg");
    width: 1910px;
    height: 1034px;
    flex-direction: column;
    transition: all 300ms;
  }
  .portada_responsive:hover {
    transform: scale(1.02);
  }
  .titulo_portada {
    position: relative;
    top: 500px;
    font-family: "Nike";
    color: aliceblue;
    font-size: 3rem;
    padding: 20px;
  }
  .parrafo_portada {
    background-color: rgba(37, 36, 34, 0.7411764706);
    position: relative;
    top: 500px;
    font-family: "Jost", sans-serif;
    color: aliceblue;
    font-size: 25px;
    padding: 10px 20px 10px;
  }
  .nav_responsive {
    gap: 20px;
    display: flex;
    justify-content: baseline;
    text-align: center;
    font-family: "Nike";
    font-size: 1.2rem;
    margin: 0;
  }
  /* ================= PARRAFOS ================ */
  .titulo_parrafos {
    font-family: "Nike";
    font-size: 2rem;
  }
  .parrafos_responsive {
    width: 1360px;
  }
  .parrafos_responsive p {
    text-align: start;
    padding: 10px;
    font-family: "Jost", sans-serif;
  }
  /* =============== GALERIA =============== */
  .galeria_imagenes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  /* ========== FRASE ============= */
  .frase_box p {
    width: auto;
    padding: 15px;
    color: black;
    border-radius: 5px;
    margin: 0;
    text-align: center;
  }
}

/*# sourceMappingURL=styles.css.map */
