@font-face {
  font-family: "Nike";
  src: url(../fonts/futura-condensed-extra-bold.otf);
}
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@600&display=swap");
/* ============= MOBILE =========== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f6f4d2;
}
main {
  padding: 5px;
}
.header-principal-responsive {
  text-align: center;
  margin: 0;
}
.logo-responsive {
  display: none;
}
a {
  text-decoration: none;
  color: white;
  font-family: "Jost", sans-serif;
}
li {
  padding: 0.3em;
}
/* =========== HEADER MOBILE ======== */
.header-responsive {
  background-color: black;
  width: 100vw;
  color: white;
  font-family: "Nike";
  display: grid;
  grid-template-columns: (1);
  padding: 40px;
}
/* ================== NAV ============== */
.navbar-nav {
  font-family: "Jost", sans-serif;
  font-size: 1.2rem;
  gap: 20px;
  padding-left: 20px;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: red;
}

.background-color-nav {
  background-color: black;
}

.link-h1-jordan {
  font-family: "Nike";
  font-size: 2rem;
  color: white;
}

.ul-nav {
  font-family: "Jost", sans-serif;
  font-size: 1.2rem;
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  gap: 20px;
}
/* =============== INICIO ============ */
.titulo-inicio {
  font-family: "Nike";
  text-align: center;
  font-size: 3rem;
  color: black;
  text-align: center;
  transition: all 300ms;
  margin: 0;
}
.titulo-inicio:hover {
  transform: scale(1.2);
}
/* =============== PORTADA ============== */
@media (max-width: 599px) {
  .titulo-portada {
    color: white;
    font-family: "Nike";
    font-size: 2rem;
    background-color: black;
    text-align: center;
    margin: 0;
    border-radius: 7px;
  }
  .parrafo-portada {
    background-color: white;
    border-radius: 7px;
    font-size: 1.3rem;
    font-family: "Jost";
    text-align: center;
    margin: 0;
  }
}
/* ============= PARRAFOS ============= */
.titulo-parrafos {
  text-align: center;
  transition: all 300ms;
  margin: 0;
}
.titulo-parrafos:hover {
  transform: scale(1.2);
}
.parrafos-responsive {
  display: grid;
  grid-template-columns: 1;
  margin: 10px;
  font-family: "Jost";
}
.parrafos-responsive p {
  background-color: white;
  border: 2px solid black;
  border-radius: 15px;
  font-size: 1.3rem;
  margin: 5px;
}
.titulo-parrafos {
  font-family: "Nike";
  font-size: 2rem;
}
.parrafos-responsive p {
  text-align: center;
  padding: 10px;
  font-family: "Jost", sans-serif;
}
.dunk-jordan {
  display: none;
}
/* ============ GALERIA ========= */
.galeria-titulo {
  text-align: center;
  font-family: "Nike";
  font-size: 3rem;
  transition: all 300ms;
  margin: 0;
}
.galeria-titulo:hover {
  transform: scale(1.2);
}
.galeria-imagenes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 50px;
}
.fotos-galeria {
  justify-content: center;
  align-content: center;
  gap: 50px;
  height: 100%;
  transition: all 300ms;
}
.fotos-galeria:hover {
  transform: scale(1.05);
}
.frase-box {
  padding: 15px;
  margin: 0;
}
.frase-box p {
  margin: 0;
  text-align: center;
  font-size: 1.3rem;
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 7px;
}
.footer-inicio {
  text-align: center;
}
/* ======== TABLETS ========= */
@media (min-width: 600px) and (max-width: 768px) {
  /*=======  HEADER======== */
  .header-responsive {
    width: 100vw;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(80px, 5vh) 60px;
    grid-template-areas:
      "titulo logo"
      "nav nav";
  }
  .header-principal-responsive {
    align-self: center;
    justify-self: end;
    margin: 0;
  }
  .logo-responsive {
    display: block;
    justify-self: start;
    align-self: center;
    grid-area: logo;
    padding: 1em;
  }
  /* ================= NAV ================= */
  .navbar-nav {
    font-family: "Jost", sans-serif;
    font-size: 1.2rem;
    gap: 20px;
    padding-left: 20px;
  }

  .nav-link {
    color: white;
  }

  .nav-link:hover {
    color: red;
  }

  .background-color-nav {
    background-color: black;
  }

  .link-h1-jordan {
    font-family: "Nike";
    font-size: 2rem;
    color: white;
  }

  .ul-nav {
    font-family: "Jost", sans-serif;
    font-size: 1.2rem;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    gap: 20px;
  }
  /* ======== PORTADA ======== */

  .portada-box-responsive {
    display: block;
    position: relative;
    background-image: url("../img/portadaa2.jpg");
    flex-direction: column;
    height: 406px;
    width: 750px;
    transition: all 300ms;
  }
  .portada-box-responsive:hover {
    transform: scale(1.02);
  }
  .parrafo-portada {
    display: none;
  }
  .titulo-portada {
    color: white;
    font-size: 2rem;
    font-family: "Nike";
    position: relative;
    top: 170px;
  }
  /* ================== PARRAFOS ================== */
  .titulo-parrafos {
    font-family: "Nike";
    font-size: 2rem;
  }

  .parrafos-responsive p {
    text-align: center;
    padding: 10px;
    font-family: "Jost", sans-serif;
  }
}
/* ============== TABLETS GRANDES ============== */
@media (min-width: 768px) and (max-width: 1199px) {
  /* ========= HEADER ========== */
  .header-responsive {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    text-align: center;
  }

  .header-principal-responsive {
    align-self: center;
    justify-self: end;
    margin: 0;
  }
  .logo-responsive {
    display: block;
    padding: 1em;
  }
  /* ================ NAV ============= */
  .navbar-nav {
    font-family: "Jost", sans-serif;
    font-size: 1.2rem;
    gap: 20px;
    padding-left: 20px;
  }

  .nav-link {
    color: white;
  }

  .nav-link:hover {
    color: red;
  }

  .background-color-nav {
    background-color: black;
  }

  .link-h1-jordan {
    font-family: "Nike";
    font-size: 2rem;
    color: white;
  }

  .ul-nav {
    font-family: "Jost", sans-serif;
    font-size: 1.2rem;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    gap: 20px;
  }
  /*=========== PORTADA ================ */
  .portada-box-responsive {
    display: block;
    position: relative;
    background-image: url("../img/portadaa2.jpg");
    width: 750px;
    height: 406px;
    flex-direction: column;
    transition: all 300ms;
  }
  .portada-box-responsive:hover {
    transform: scale(1.02);
  }

  .titulo-portada {
    position: relative;
    top: 120px;
    font-family: "Nike", sans-serif;
    color: aliceblue;
    font-size: 2rem;
    padding: 20px;
  }

  .parrafo-portada {
    position: relative;
    top: 120px;
    font-family: "Jost", sans-serif;
    color: aliceblue;
    font-size: 1.5rem;
    padding: 10px 20px 10px;
  }
  /* =================== PARRAFOS================ */
  .titulo-parrafos {
    font-family: "Nike";
    font-size: 2rem;
  }

  .parrafos-responsive p {
    text-align: center;
    padding: 10px;
    font-family: "Jost", sans-serif;
  }
}
@media (min-width: 769px) and (max-width: 858px) {
  .logo-responsive {
    display: none;
  }
  /* ================= NAV =================== */
  .navbar-nav {
    font-family: "Jost", sans-serif;
    font-size: 1.2rem;
    gap: 20px;
    padding-left: 20px;
  }

  .nav-link {
    color: white;
  }

  .nav-link:hover {
    color: red;
  }

  .background-color-nav {
    background-color: black;
  }

  .link-h1-jordan {
    font-family: "Nike";
    font-size: 2rem;
    color: white;
  }

  .ul-nav {
    font-family: "Jost", sans-serif;
    font-size: 1.2rem;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    gap: 20px;
  }
  /*  ========== PARRAFOS =========== */
  .titulo-parrafos {
    font-family: "Nike";
    font-size: 2rem;
  }

  .parrafos-responsive p {
    text-align: center;
    padding: 10px;
    font-family: "Jost", sans-serif;
  }
  /* ============== GALERIA ================ */
  .galeria-imagenes {
    display: flex;
    flex-direction: 2 row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px;
  }
}
@media (min-width: 859px) and (max-width: 1200px) {
  .navbar-nav {
    font-family: "Jost", sans-serif;
    font-size: 1.2rem;
    gap: 20px;
    padding-left: 20px;
  }

  .nav-link {
    color: white;
  }

  .nav-link:hover {
    color: red;
  }

  .background-color-nav {
    background-color: black;
  }

  .link-h1-jordan {
    font-family: "Nike";
    font-size: 2rem;
    color: white;
  }

  .ul-nav {
    font-family: "Jost", sans-serif;
    font-size: 1.2rem;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    gap: 20px;
  }
}
/* ========= DESKTOP ========= */
@media (min-width: 1201px) {
  /* ========= HEADER ========== */
  .header-responsive {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
  }
  .header-principal-responsive {
    align-self: center;
    justify-self: end;
  }

  /* ================= NAV BAR ===================== */
  .navbar-nav {
    font-family: "Jost", sans-serif;
    font-size: 1.2rem;
    gap: 20px;
    padding-left: 20px;
  }
  .nav-link {
    color: white;
  }
  .nav-link:hover {
    color: red;
  }
  .background-color-nav {
    background-color: black;
  }
  .link-h1-jordan {
    font-family: "Nike";
    font-size: 2rem;
    color: white;
  }
  .ul-nav {
    font-family: "Jost", sans-serif;
    font-size: 1.2rem;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    gap: 20px;
  }
  /* ==============  PORTADA =================== */
  .portada-box-responsive {
    display: block;
    position: relative;
    background-image: url("../img/portadaa.jpg");
    width: 1910px;
    height: 1034px;
    flex-direction: column;
    transition: all 300ms;
  }
  .portada-box-responsive:hover {
    transform: scale(1.02);
  }
  .titulo-portada {
    position: relative;
    top: 500px;
    font-family: "Nike", sans-serif;
    color: aliceblue;
    font-size: 2rem;
    padding: 20px;
  }
  .parrafo-portada {
    position: relative;
    top: 500px;
    font-family: "Jost", sans-serif;
    color: aliceblue;
    font-size: 25px;
    padding: 10px 20px 10px;
  }
  .logo-responsive {
    display: block;
    padding: 1em;
  }
  .nav-responsive {
    gap: 20px;
    display: flex;
    justify-content: baseline;
    text-align: center;
    font-family: "Nike";
    font-size: 1.2rem;
    margin: 0;
  }
  /* ================= PARRAFOS ================ */
  .titulo-parrafos {
    font-family: "Nike";
    font-size: 2rem;
  }
  .parrafos-responsive p {
    text-align: center;
    padding: 10px;
    font-family: "Jost", sans-serif;
  }
  /* =============== GALERIA =============== */
  .galeria-imagenes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  /* ========== FRASE ============= */
  .frase-box p {
    padding: 15px;
    background-color: black;
    color: white;
    border-radius: 5px;
    margin: 0;
    text-align: center;
  }
  .footer-inicio {
    text-align: center;
  }
}
