@import url("https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@font-face {
  font-family: "Nike";
  src: url(../fonts/futura-condensed-extra-bold.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: aliceblue;
}
ul {
  list-style: none;
  display: flex;
  gap: 60px;
  font-family: "Jost", sans-serif;
  padding: 20px;
}
h2 {
  font-family: "Jost", sans-serif;
}
body {
  background-color: #f6f4d2;
}
.footer-inicio {
  text-align: center;
  padding: 1em;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 0 , 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.table-responsive::-webkit-scrollbar {
  width: 10px;
  color: red;
}
/* ============ MEDIA FOOTER ========= */
@media (min-width: 1302px) and (max-width: 1750px) {
  .main-index {
    height: 3000px;
  }
}
/* ============= INDEX =================  */
/* ================== NAV ============== */
.navbar-nav {
  font-family: "Jost", sans-serif;
  font-size: 1.2rem;
  gap: 20px;
  padding-left: 20px;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: red;
}

.background-color-nav {
  background-color: black;
}

.link-h1-jordan {
  font-family: "Nike";
  font-size: 2rem;
  color: white;
}

.ul-nav {
  font-family: "Jost", sans-serif;
  font-size: 1.2rem;
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  gap: 20px;
}

/* =============== INICIO ============ */
.titulo-inicio {
  font-family: "Nike";
  text-align: center;
  font-size: 3rem;
  color: black;
  text-align: center;
  transition: all 300ms;
  margin: 0;
}

.titulo-inicio:hover {
  transform: scale(1.2);
}

/* =============== PORTADA ============== */
@media (max-width: 500px) {
  .parrafo-portada {
    padding: 10px;
  }
}
@media (max-width: 599px) {
  .portada-box-responsive {
    padding: 10px;
  }
  .titulo-portada {
    color: rgb(176, 56, 56);
    font-family: "Nike";
    font-size: 1.7rem;
    text-align: start;
    margin: 0;
    border-radius: 7px;
  }

  .parrafo-portada {
    border-radius: 7px;
    font-size: 1.3rem;
    font-family: "Jost";
    text-align: start;
    margin: 0;
  }
}

/* ============= PARRAFOS ============= */
.titulo-parrafos {
  font-family: "Nike";
  text-align: start;
  font-size: 1.7rem;
  transition: all 300ms;
  margin: 0;
  color: rgb(176, 56, 56);
}

.titulo-parrafos:hover {
  transform: scale(1.02);
}

.parrafos-responsive {
  text-align: start;
  display: grid;
  grid-template-columns: 1;
  margin: 10px;
  font-family: "Jost";
}
.titulo-parrafos {
  font-family: "Nike";
  font-size: 2rem;
}

.parrafos-responsive p {
  text-align: start;
  font-family: "Jost", sans-serif;
  font-size: 1.3rem;
  padding: 10px;
  margin: 0;
}
.parrafo {
  padding: 0;
  margin: 0;
}
.dunk-jordan {
  display: none;
}

/* ============ GALERIA ========= */
.galeria-titulo {
  color: rgb(176, 56, 56);
  text-align: center;
  font-family: "Nike";
  font-size: 3rem;
  transition: all 300ms;
  margin: 0;
}

.galeria-titulo:hover {
  transform: scale(1.2);
}

.galeria-imagenes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 50px;
}

.fotos-galeria {
  justify-content: center;
  align-content: center;
  gap: 50px;
  height: 100%;
  transition: all 300ms;
}

.fotos-galeria:hover {
  transform: scale(1.05);
}

.frase-box {
  padding: 15px;
  margin: 0;
}

.frase-box p {
  color: black;
  font-family: "Jost", sans-serif;
  border: 3px solid rgb(176, 56, 56);
  margin: 0;
  text-align: justify;
  font-size: 1.3rem;
  padding: 10px;
  border-radius: 7px;
}

/* ======== TABLETS ========= */
@media (min-width: 600px) and (max-width: 768px) {
  .logo-responsive {
    display: block;
    justify-self: start;
    align-self: center;
    grid-area: logo;
    padding: 1em;
  }

  /* ================= NAV ================= */
  .navbar-nav {
    font-family: "Jost", sans-serif;
    font-size: 1.2rem;
    gap: 20px;
    padding-left: 20px;
  }

  .nav-link {
    color: white;
  }

  .nav-link:hover {
    color: red;
  }

  .background-color-nav {
    background-color: black;
  }

  .link-h1-jordan {
    font-family: "Nike";
    font-size: 2rem;
    color: white;
  }

  .ul-nav {
    font-family: "Jost", sans-serif;
    font-size: 1.2rem;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    gap: 20px;
  }

  /* ======== PORTADA ======== */

  .portada-box-responsive {
    display: block;
    position: relative;
    background-image: url("../img/portadaa2.jpg");
    flex-direction: column;
    height: 406px;
    width: 750px;
    transition: all 300ms;
  }

  .portada-box-responsive:hover {
    transform: scale(1.02);
  }

  .parrafo-portada {
    display: none;
  }

  .titulo-portada {
    color: white;
    font-size: 2rem;
    font-family: "Nike";
    position: relative;
    top: 170px;
  }

  /* ================== PARRAFOS ================== */
  .titulo-parrafos {
    font-family: "Nike";
    font-size: 2rem;
  }

  .parrafos-responsive p {
    text-align: start;
    padding: 10px;
    font-family: "Jost", sans-serif;
  }
  /* =============== MODIFICACION DE LA PORTADA ============== */
}
@media (min-width: 769px) and (max-width: 858px) {
  .logo-responsive {
    display: none;
  }

  /* ================= NAV =================== */
  .navbar-nav {
    font-family: "Jost", sans-serif;
    font-size: 1.2rem;
    gap: 20px;
    padding-left: 20px;
  }

  .nav-link {
    color: white;
  }

  .nav-link:hover {
    color: red;
  }

  .background-color-nav {
    background-color: black;
  }

  .link-h1-jordan {
    font-family: "Nike";
    font-size: 2rem;
    color: white;
  }

  .ul-nav {
    font-family: "Jost", sans-serif;
    font-size: 1.2rem;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    gap: 20px;
  }

  /*  ========== PARRAFOS =========== */
  .titulo-parrafos {
    font-family: "Nike";
    font-size: 2rem;
  }

  .parrafos-responsive p {
    text-align: start;
    padding: 10px;
    font-family: "Jost", sans-serif;
  }

  /* ============== GALERIA ================ */
  .galeria-imagenes {
    display: flex;
    flex-direction: 2 row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px;
  }
}
/* ============== TABLETS GRANDES ============== */
@media (min-width: 768px) and (max-width: 1199px) {
  .logo-responsive {
    display: block;
    padding: 1em;
  }
  /* ================ NAV ============= */
  .navbar-nav {
    font-family: "Jost", sans-serif;
    font-size: 1.2rem;
    gap: 20px;
    padding-left: 20px;
  }

  .nav-link {
    color: white;
  }

  .nav-link:hover {
    color: red;
  }

  .background-color-nav {
    background-color: black;
  }

  .link-h1-jordan {
    font-family: "Nike";
    font-size: 2rem;
    color: white;
  }

  .ul-nav {
    font-family: "Jost", sans-serif;
    font-size: 1.2rem;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    gap: 20px;
  }

  /*=========== PORTADA ================ */
  .portada-box-responsive {
    display: block;
    position: relative;
    background-image: url("../img/portadaa2.jpg");
    width: 750px;
    height: 406px;
    flex-direction: column;
    transition: all 300ms;
  }

  .portada-box-responsive:hover {
    transform: scale(1.02);
  }

  .titulo-portada {
    position: relative;
    top: 120px;
    font-family: "Nike", sans-serif;
    color: aliceblue;
    font-size: 2rem;
    padding: 20px;
  }

  .parrafo-portada {
    position: relative;
    top: 120px;
    font-family: "Jost", sans-serif;
    color: aliceblue;
    font-size: 1.5rem;
    padding: 10px 20px 10px;
  }

  /* =================== PARRAFOS================ */
  .titulo-parrafos {
    font-family: "Nike";
    font-size: 2rem;
  }

  .parrafos-responsive p {
    text-align: start;
    padding: 10px;
    font-family: "Jost", sans-serif;
  }
}
/* ================== TABLETS GRANDES EN HORIZONTAL =============== */
@media (min-width: 859px) and (max-width: 1199px) {
  .navbar-nav {
    font-family: "Jost", sans-serif;
    font-size: 1.2rem;
    gap: 20px;
    padding-left: 20px;
  }

  .nav-link {
    color: white;
  }

  .nav-link:hover {
    color: red;
  }

  .background-color-nav {
    background-color: black;
  }

  .link-h1-jordan {
    font-family: "Nike";
    font-size: 2rem;
    color: white;
  }

  .ul-nav {
    font-family: "Jost", sans-serif;
    font-size: 1.2rem;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    gap: 20px;
  }
}

/* ========= DESKTOP ========= */
@media (min-width: 1200px) {
  /* ================= NAV BAR ===================== */
  .navbar-nav {
    font-family: "Jost", sans-serif;
    font-size: 1.2rem;
    gap: 20px;
    padding-left: 20px;
  }

  .nav-link {
    color: white;
  }

  .nav-link:hover {
    color: red;
  }

  .background-color-nav {
    background-color: black;
  }

  .link-h1-jordan {
    font-family: "Nike";
    font-size: 2rem;
    color: white;
  }

  .ul-nav {
    font-family: "Jost", sans-serif;
    font-size: 1.2rem;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    gap: 20px;
  }

  /* ==============  PORTADA =================== */
  .portada-box-responsive {
    display: block;
    position: relative;
    background-image: url("../img/portadaa.jpg");
    width: 1910px;
    height: 1034px;
    flex-direction: column;
    transition: all 300ms;
  }

  .portada-box-responsive:hover {
    transform: scale(1.02);
  }

  .titulo-portada {
    position: relative;
    top: 500px;
    font-family: "Nike", sans-serif;
    color: aliceblue;
    font-size: 3rem;
    padding: 20px;
  }

  .parrafo-portada {
    background-color: #252422bd;
    position: relative;
    top: 500px;
    font-family: "Jost", sans-serif;
    color: aliceblue;
    font-size: 25px;
    padding: 10px 20px 10px;
  }

  .logo-responsive {
    display: block;
    padding: 1em;
  }

  .nav-responsive {
    gap: 20px;
    display: flex;
    justify-content: baseline;
    text-align: center;
    font-family: "Nike";
    font-size: 1.2rem;
    margin: 0;
  }

  /* ================= PARRAFOS ================ */
  .titulo-parrafos {
    font-family: "Nike";
    font-size: 2rem;
  }
  .parrafos-responsive {
    width: 1360px;
  }
  .parrafos-responsive p {
    text-align: start;
    padding: 10px;
    font-family: "Jost", sans-serif;
  }

  /* =============== GALERIA =============== */
  .galeria-imagenes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  /* ========== FRASE ============= */
  .frase-box p {
    width: auto;
    padding: 15px;
    color: black;
    border-radius: 5px;
    margin: 0;
    text-align: center;
  }
}

/* ============ SOBRE JORDAN ========== */
.main-dos {
  height: 1500px;
  font-family: "Jost", sans-serif;
}
@media (min-width: 390px) and (max-width: 412px) {
  .main-dos {
    height: 4000px;
  }
}
@media (min-width: 412px) and (max-width: 430px) {
  .main-dos {
    height: 3700px;
  }
}
@media (min-width: 430px) and (max-width: 480px) {
  .main-dos {
    height: 3500px;
  }
}
@media (min-width: 481px) and (max-width: 577px) {
  .main-dos {
    height: 3100px;
  }
}
@media (min-width: 577px) and (max-width: 769px) {
  .main-dos {
    height: 2900px;
  }
}
@media (min-width: 770px) and (max-width: 992px) {
  .main-dos {
    height: 2200px;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  .main-dos {
    height: 1700px;
  }
}
/* ============ TITTLE ========== */
.sobre-jordan {
  text-align: center;
  font-size: 3rem;
  color: black;
}
@media (min-width: 390px) and (max-width: 577px) {
  .sobre-jordan {
    text-align: center;
    font-size: 2.25rem;
    color: black;
  }
}
/* ============ LINEA DEL TIEMPO =================*/
.parrafos-sobre h3 {
  font-family: "Nike";
  font-size: 1.9rem;
  color: rgb(176, 56, 56);
  margin: 0;
  transition: all 300ms;
}
.parrafos-sobre h3:hover {
  transform: scale(1.04);
}
.parrafos-sobre p {
  font-family: "Jost", sans-serif;
  font-size: 1.3rem;
  padding: 25px 10px 25px 10px;
  margin: 0;
}
/* ======== FOOTER ========== */
.footer-sobre {
  text-align: center;
}
/* ============ SNKRS =========== */

/* ========== PRODUCTOS =========== */
.titulo-productos {
  text-align: center;
  font-size: 3rem;
  margin: 20px;
  transition: all 300ms;
}
.titulo-productos:hover {
  transform: scale(1.06);
}
.snkrs-productos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 150px;
}
/* ============ CUERPOS DE LOS PRODUCTOS==========*/
.tarjeta {
  width: 350px;
  height: 570px;
  overflow: hidden;
  background-color: rgba(141, 107, 76, 0.657);
  box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition-property: box-shadow;
  transition-duration: 0.9s;
  transition: all 300ms;
}
/* ========== ESTILOS DE LOS PRODUCTOS ======= */
.tarjeta {
  font-family: "Jost", sans-serif;
}
.titulo-del-producto {
  color: white;
  font-size: 23px;
}
.tarjeta span {
  color: rgb(247, 234, 234);
}
.tarjeta:hover {
  box-shadow: 0 0 1.7em rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}
.tarjeta img {
  width: 100%;
}
.body-producto {
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
/* ====== BOTON A ===== */
.btn-producto {
  background-color: #252422;
  border: 2px solid #ccc5b9;
  align-self: center;
  padding: 7px;
  border-radius: 5px;
}
.btn-producto:hover {
  background-color: #faa307;
  border: 1px solid #252422;
}
/* ================= FOOTER ============== */
.footer-tres {
  text-align: center;
  padding: 20px;
  margin: 10px;
}
/* ======= SALON DORADO RESET AND CONFIGS ========= */
.body-salon-dorado {
  background-color: rgb(120, 30, 30);
}
.footer-salon {
  text-align: center;
  color: white;
  margin: 10px;
  padding: 10px;
}
/* ========== SALON DORADO PAGINA ====== */
.titulo-salon {
  text-align: center;
  font-size: 3rem;
  color: #ffffff;
}
.trofeos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 150px;
}
div article p {
  padding: 10px;
  margin: 10px;
}
.anillos article p {
  padding: 5px;
}
/*============= TROFEO  ============ */
.trofeo {
  width: 350px;
  height: 650px;
  overflow: hidden;
  background-color: rgba(222, 219, 56, 0.587);
  box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition-property: box-shadow;
  transition-duration: 0.9s;
  transition: all 300ms;
}
/* ============== ESTILO DEL TROFEO  ============= */
.trofeo {
  font-family: "Jost", sans-serif;
}
.titulo-trofeo {
  text-align: center;
  padding: 10px;
  color: white;
  font-size: 23px;
}
.descripcion-trofeo {
  color: rgb(247, 234, 234);
}
.trofeo:hover {
  box-shadow: 0 0 1.7em rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}
.trofeo-imagen {
  width: 100%;
}
.body-trofeo {
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
/*============= TROFEO 2 ============ */
.trofeo-2 {
  width: 350px;
  height: 650px;
  overflow: hidden;
  background-color: rgba(222, 219, 56, 0.587);
  box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition-property: box-shadow;
  transition-duration: 0.9s;
  transition: all 300ms;
}
/* ============= SECCION ANILLOS============ */

.titulo-anillos {
  margin: 20px;
  padding: 10px;
  text-align: center;
  font-size: 3rem;
  color: white;
}

/*============= ANILLO 1 ============ */
.anillos {
  margin: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 130px;
}
.anillo {
  width: 470px;
  height: 680px;
  overflow: hidden;
  background-color: rgba(222, 219, 56, 0.587);
  box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition-property: box-shadow;
  transition-duration: 0.9s;
  transition: all 300ms;
}
/* ============== ESTILO DEL ANILLO A ============= */
.anillo {
  font-family: "Jost", sans-serif;
}
.titulo-anillo {
  color: white;
  font-size: 23px;
  text-align: center;
}
.descripcion-anillo {
  color: rgb(247, 234, 234);
}
.anillo:hover {
  box-shadow: 0 0 1.7em rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}
.anillo-imagen {
  width: 100%;
}
.body-anillo {
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
/* ============ PAGINA ESTADISTICAS =============== */
.titulo-estadisticas {
  text-align: center;
  font-size: 3rem;
}
/* =========== TABLA ================ */

.tabla-estadisticas {
  border-collapse: collapse;
  font-family: "Jost", sans-serif;
  background-color: rgb(164, 164, 164);
}
.tabla-estadisticas th {
  border: 3px solid black;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  background-color: black;
}
th abbr {
  text-decoration: none;
}

.tabla-estadisticas td {
  border: 3px solid black;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.resultados th {
  background-color: white;
  color: red;
}
/* =========== FOTO FINAL ============= */
#img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
}
.texto-imagen {
  text-align: center;
  margin: 0;
  font-family: "Jost", sans-serif;
  font-size: 2.5rem;
}
/* ======== FOOTER============ */
.footer-estadisticas {
  text-align: center;
  padding: 10px;
  margin: 20px;
}
