* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: aliceblue;
}

ul {
  list-style: none;
  display: flex;
  gap: 60px;
  font-family: "Jost", sans-serif;
  padding: 10px;
}

h2 {
  font-family: "Jost", sans-serif;
}

body {
  background-image: linear-gradient(-45deg, #FFC796 0%, #FF6B95 100%);
}

@font-face {
  font-family: "Nike";
  src: url(../fonts/futura-condensed-extra-bold.otf);
}
/* ============= BOTON SCROLL ============ */
.boton_smooth {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 125px;
  border: 4px solid rgb(176, 56, 56);
  border-radius: 10px;
  background-color: rgb(176, 56, 56);
  color: white;
  box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.5);
  transition: all 300ms;
}
.boton_smooth:hover {
  background-color: rgb(215, 70, 70);
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
}

/* ============= BOTON SCROLL VARIANTE ============ */
.boton_smooth--variante {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 125px;
  border: 4px solid rgb(26, 14, 193);
  border-radius: 10px;
  background-color: rgb(23, 50, 221);
  color: white;
  box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.5);
  transition: all 300ms;
}
.boton_smooth--variante:hover {
  background-color: rgb(61, 28, 208);
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
}

/* ====== BOTON  ===== */
.btn_producto {
  background-color: #252422;
  border: 2px solid #ccc5b9;
  align-self: center;
  padding: 7px;
  border-radius: 5px;
}
.btn_producto:hover {
  background-color: #faa307;
  border: 1px solid #252422;
}

/* ============ CUERPOS DE LOS PRODUCTOS==========*/
.tarjeta {
  width: 350px;
  height: 570px;
  overflow: hidden;
  border: 2px solid white;
  border-radius: 10px;
  background-color: #3d1635;
  box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition-property: box-shadow;
  transition-duration: 0.9s;
  transition: all 300ms;
}

/* ========== ESTILOS DE LOS PRODUCTOS ======= */
.tarjeta {
  font-family: "Jost", sans-serif;
}
.tarjeta span {
  color: rgb(247, 234, 234);
}
.tarjeta img {
  width: 100%;
}
.tarjeta:hover {
  box-shadow: 0 0 1.7em rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}

.titulo_del_producto {
  color: white;
  font-size: 23px;
}

.body_producto {
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

/*============= TROFEO  ============ */
.trofeo {
  width: 350px;
  height: 650px;
  overflow: hidden;
  background-color: rgba(222, 219, 56, 0.587);
  box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition-property: box-shadow;
  transition-duration: 0.9s;
  transition: all 300ms;
}

/* ============== ESTILO DEL TROFEO  ============= */
.trofeo {
  font-family: "Jost", sans-serif;
}
.trofeo:hover {
  box-shadow: 0 0 1.7em rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}
.trofeo_imagen {
  width: 100%;
}

.titulo_trofeo {
  font-family: "Jost", sans-serif;
  text-align: center;
  padding: 10px;
  color: white;
  font-size: 1.7rem;
}

.descripcion_trofeo {
  color: rgb(247, 234, 234);
}

.body_trofeo {
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

/*============= ANILLO 1 ============ */
.anillos {
  margin: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 130px;
}

.anillo {
  width: 390px;
  height: 750px;
  overflow: hidden;
  background-color: rgba(222, 219, 56, 0.587);
  box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition-property: box-shadow;
  transition-duration: 0.9s;
  transition: all 300ms;
}

/* ============== ESTILO DEL ANILLO A ============= */
.anillo {
  font-family: "Jost", sans-serif;
}
.anillo:hover {
  box-shadow: 0 0 1.7em rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}
.anillo:hover_imagen {
  width: 100%;
}

.titulo_anillo {
  font-family: "Nike";
  color: white;
  font-size: 23px;
  text-align: center;
}

.descripcion_anillo {
  color: rgb(247, 234, 234);
  padding: 0.5em;
}

.body_anillo {
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

/* ================== NAV ============== */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 0 , 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-nav {
  font-family: "Jost", sans-serif;
  font-size: 1.2rem;
  gap: 20px;
  padding-left: 20px;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: red;
}

.background-color-nav {
  background-color: black;
}

.link-h1-jordan {
  font-family: "Nike";
  font-size: 2rem;
  color: white;
}

.ul-nav {
  font-family: "Jost", sans-serif;
  font-size: 1.2rem;
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  gap: 20px;
}

/* =============== INICIO ============ */
.titulo_inicio {
  font-family: "Nike";
  text-align: center;
  font-size: 3rem;
  color: rgb(255, 255, 255);
  text-align: center;
  transition: all 300ms;
  margin: 20px;
}
.titulo_inicio:hover {
  transform: scale(1.2);
}

/* =============== PORTADA ============== */
@media (max-width: 500px) {
  .parrafo_portada {
    padding: 10px;
  }
}
@media (max-width: 599px) {
  .background-color-nav {
    background-color: black;
  }
  .portada_box_responsive {
    padding: 10px;
  }
  .titulo_portada {
    color: rgb(176, 56, 56);
    font-family: "Nike";
    font-size: 1.7rem;
    text-align: start;
    margin: 0;
    border-radius: 7px;
  }
  .parrafo_portada {
    border-radius: 7px;
    font-size: 1.3rem;
    font-family: "Jost", sans-serif;
    text-align: start;
    margin: 0;
  }
}
/* ============= PARRAFOS ============= */
.titulo_parrafos {
  font-family: "Nike";
  text-align: start;
  font-size: 1.7rem;
  transition: all 300ms;
  margin: 0;
  color: rgb(176, 56, 56);
}
.titulo_parrafos:hover {
  transform: scale(1.02);
}

.parrafos_responsive {
  text-align: start;
  display: grid;
  grid-template-columns: 1;
  margin: 10px;
  font-family: "Jost", sans-serif;
}
.parrafos_responsive p {
  text-align: start;
  font-family: "Jost", sans-serif;
  font-size: 1.3rem;
  padding: 10px;
  margin: 0;
}

.titulo_parrafos {
  font-family: "Nike";
  font-size: 2rem;
}

.parrafo {
  padding: 0;
  margin: 0;
}

/* ============ GALERIA ========= */
.galeria_titulo {
  color: rgb(176, 56, 56);
  text-align: center;
  font-family: "Nike";
  font-size: 3rem;
  transition: all 300ms;
  margin: 0;
}
.galeria_titulo:hover {
  transform: scale(1.2);
}

.galeria_imagenes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 50px;
}

.fotos_galeria {
  justify-content: center;
  align-content: center;
  gap: 50px;
  height: 100%;
  transition: all 300ms;
}
.fotos_galeria:hover {
  transform: scale(1.05);
}

.frase_box {
  padding: 15px;
  margin: 0;
}
.frase_box p {
  color: black;
  font-family: "Jost", sans-serif;
  border: 3px solid rgb(176, 56, 56);
  margin: 0;
  text-align: justify;
  font-size: 1.3rem;
  padding: 10px;
  border-radius: 7px;
}

/* ================ FOOTER ====================== */
.footer_inicio {
  text-align: center;
  padding: 1em;
}

/* ============ MEDIA FOOTER ========= */
@media (min-width: 1302px) and (max-width: 1750px) {
  .main_index {
    height: 3000px;
  }
}
/* ================ TABLETS ====================== */
@media (min-width: 600px) and (max-width: 768px) {
  /* ================= NAV ================= */
  .navbar_nav {
    font-family: "Jost", sans-serif;
    font-size: 1.2rem;
    gap: 20px;
    padding-left: 20px;
  }
  .nav_link {
    color: white;
  }
  .nav_link:hover {
    color: red;
  }
  .background_color_nav {
    background-color: black;
  }
  .link_h1_jordan {
    font-family: "Nike";
    font-size: 2rem;
    color: white;
  }
  .ul_nav {
    font-family: "Jost", sans-serif;
    font-size: 1.2rem;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    gap: 20px;
  }
  /* ======== PORTADA ======== */
  .portada_box_responsive {
    display: block;
    position: relative;
    background-image: url("../img/portadaa2.jpg");
    flex-direction: column;
    height: 406px;
    width: 750px;
    transition: all 300ms;
  }
  .portada_box_responsive:hover {
    transform: scale(1.02);
  }
  .titulo_portada {
    color: white;
    font-size: 2rem;
    font-family: "Nike";
    position: relative;
    top: 170px;
  }
  .parrafo_portada {
    display: none;
  }
  /* ================== PARRAFOS ================== */
  .titulo_parrafos {
    font-family: "Nike";
    font-size: 2rem;
  }
  .parrafos_responsive p {
    text-align: start;
    padding: 10px;
    font-family: "Jost", sans-serif;
  }
}
/* =============== MODIFICACION DE LA PORTADA ============== */
@media (min-width: 769px) and (max-width: 858px) {
  /* ========================= NAV ============================= */
  .navbar_nav {
    font-family: "Jost", sans-serif;
    font-size: 1.2rem;
    gap: 20px;
    padding-left: 20px;
  }
  .nav-link {
    color: white;
  }
  .nav-link:hover {
    color: red;
  }
  .background_color_nav {
    background-color: black;
  }
  .link_h1_jordan {
    font-family: "Nike";
    font-size: 2rem;
    color: white;
  }
  .ul_nav {
    font-family: "Jost", sans-serif;
    font-size: 1.2rem;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    gap: 20px;
  }
  /*  ====================== PARRAFOS ============================ */
  .titulo_parrafos {
    font-family: "Nike";
    font-size: 2rem;
  }
  .parrafos_responsive p {
    text-align: start;
    padding: 10px;
    font-family: "Jost", sans-serif;
  }
  /* =========================== GALERIA ========================== */
  .galeria_imagenes {
    display: flex;
    flex-direction: 2 row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px;
  }
}
/* ============== TABLETS GRANDES ============== */
@media (min-width: 768px) and (max-width: 1199px) {
  /* ================ NAV ============= */
  .navbar_nav {
    font-family: "Jost", sans-serif;
    font-size: 1.2rem;
    gap: 20px;
    padding-left: 20px;
  }
  .nav_link {
    color: white;
  }
  .nav_link:hover {
    color: red;
  }
  .background_color_nav {
    background-color: black;
  }
  .link_h1_jordan {
    font-family: "Nike";
    font-size: 2rem;
    color: white;
  }
  .ul_nav {
    font-family: "Jost", sans-serif;
    font-size: 1.2rem;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    gap: 20px;
  }
  /*=========== PORTADA ================ */
  .portada_box_responsive {
    display: block;
    position: relative;
    background-image: url("../img/portadaa2.jpg");
    width: 750px;
    height: 406px;
    flex-direction: column;
    transition: all 300ms;
  }
  .portada_box_responsive:hover {
    transform: scale(1.02);
  }
  .titulo_portada {
    font-family: "Nike";
    position: relative;
    top: 120px;
    color: aliceblue;
    font-size: 2rem;
    padding: 20px;
  }
  .parrafo_portada {
    background-color: rgba(37, 36, 34, 0.7411764706);
    position: relative;
    top: 120px;
    font-family: "Jost", sans-serif;
    color: aliceblue;
    font-size: 1.5rem;
    padding: 10px 20px 10px;
  }
  /* =================== PARRAFOS================ */
  .titulo_parrafos {
    font-family: "Nike";
    font-size: 2rem;
  }
  .parrafos_responsive p {
    text-align: start;
    padding: 10px;
    font-family: "Jost", sans-serif;
  }
}
/* ================== TABLETS GRANDES EN HORIZONTAL =============== */
@media (min-width: 859px) and (max-width: 1199px) {
  .navbar_nav {
    font-family: "Jost", sans-serif;
    font-size: 1.2rem;
    gap: 20px;
    padding-left: 20px;
  }
  .nav_link {
    color: white;
  }
  .nav_link:hover {
    color: red;
  }
  .background_color_nav {
    background-color: black;
  }
  .link_h1_jordan {
    font-family: "Nike";
    font-size: 2rem;
    color: white;
  }
  .ul_nav {
    font-family: "Jost", sans-serif;
    font-size: 1.2rem;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    gap: 20px;
  }
}
/* ========= DESKTOP ========= */
@media (min-width: 1200px) {
  /* ================= NAV BAR ===================== */
  .navbar_nav {
    font-family: "Jost", sans-serif;
    font-size: 1.2rem;
    gap: 20px;
    padding-left: 20px;
  }
  .nav_link {
    color: white;
  }
  .nav_link:hover {
    color: red;
  }
  .background_color_nav {
    background-color: black;
  }
  .link_h1_jordan {
    font-family: "Nike";
    font-size: 2rem;
    color: white;
  }
  .ul_nav {
    font-family: "Jost", sans-serif;
    font-size: 1.2rem;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    gap: 20px;
  }
  /* ==============  PORTADA =================== */
  .portada_box_responsive {
    display: block;
    position: relative;
    background-image: url("../img/portadaa.jpg");
    width: 1910px;
    height: 1034px;
    flex-direction: column;
    transition: all 300ms;
  }
  .portada_responsive:hover {
    transform: scale(1.02);
  }
  .titulo_portada {
    position: relative;
    top: 500px;
    font-family: "Nike";
    color: aliceblue;
    font-size: 3rem;
    padding: 20px;
  }
  .parrafo_portada {
    background-color: rgba(37, 36, 34, 0.7411764706);
    position: relative;
    top: 500px;
    font-family: "Jost", sans-serif;
    color: aliceblue;
    font-size: 25px;
    padding: 10px 20px 10px;
  }
  .nav_responsive {
    gap: 20px;
    display: flex;
    justify-content: baseline;
    text-align: center;
    font-family: "Nike";
    font-size: 1.2rem;
    margin: 0;
  }
  /* ================= PARRAFOS ================ */
  .titulo_parrafos {
    font-family: "Nike";
    font-size: 2rem;
  }
  .parrafos_responsive {
    width: 1360px;
  }
  .parrafos_responsive p {
    text-align: start;
    padding: 10px;
    font-family: "Jost", sans-serif;
  }
  /* =============== GALERIA =============== */
  .galeria_imagenes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  /* ========== FRASE ============= */
  .frase_box p {
    width: auto;
    padding: 15px;
    color: black;
    border-radius: 5px;
    margin: 0;
    text-align: center;
  }
}
/* ============ SOBRE JORDAN ========== */
.main_dos {
  height: 1500px;
  font-family: "Jost", sans-serif;
}

@media (min-width: 390px) and (max-width: 412px) {
  .main_dos {
    height: 4000px;
  }
}
@media (min-width: 412px) and (max-width: 430px) {
  .main_dos {
    height: 3700px;
  }
}
@media (min-width: 430px) and (max-width: 480px) {
  .main_dos {
    height: 3500px;
  }
}
@media (min-width: 481px) and (max-width: 577px) {
  .main_dos {
    height: 3100px;
  }
}
@media (min-width: 577px) and (max-width: 769px) {
  .main_dos {
    height: 2900px;
  }
}
@media (min-width: 770px) and (max-width: 992px) {
  .main_dos {
    height: 2200px;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  .main_dos {
    height: 1700px;
  }
}
/* ============ TITTLE ========== */
.titulo_sobre_jordan {
  text-align: center;
  font-size: 3rem;
  color: black;
}

@media (min-width: 350px) {
  /* ================== NAV ============== */
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 0 , 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  .navbar_nav {
    font-family: "Jost", sans-serif;
    font-size: 1.2rem;
    gap: 20px;
    padding-left: 20px;
  }
  .nav_link {
    color: white;
  }
  .nav_link:hover {
    color: red;
  }
  .background_color_nav {
    background-color: black;
  }
  .linK_h1_jordan {
    font-family: "Nike";
    font-size: 2rem;
    color: white;
  }
  .ul_nav {
    font-family: "Jost", sans-serif;
    font-size: 1.2rem;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    gap: 20px;
  }
  /* ==================  TITULO ================== */
  .titulo_sobre_jordan {
    text-align: center;
    font-size: 3rem;
    color: white;
    font-family: "Nike";
    margin: 20px;
  }
  .link_h1_jordan {
    font-family: "Nike";
    font-size: 2rem;
    color: white;
  }
  .body_sobre {
    background-image: linear-gradient(-225deg, #7DE2FC 0%, #B9B6E5 100%);
  }
}
/* ============ LINEA DEL TIEMPO =================*/
.parrafos_sobre h3 {
  font-family: "Nike";
  font-size: 1.9rem;
  color: rgb(52, 31, 190);
  margin: 0;
  transition: all 300ms;
}
.parrafos_sobre h3:hover {
  transform: scale(1.04);
}

.parrafos_sobre p {
  font-family: "Jost", sans-serif;
  font-size: 1.3rem;
  padding: 25px 10px 25px 10px;
  margin: 0;
}

/* ======== FOOTER ========== */
.footer_sobre {
  text-align: center;
}

/* =================== SNKRS ====================== */
/* ========== PRODUCTOS =========== */
.titulo_productos {
  font-family: "Nike";
  color: white;
  text-align: center;
  font-size: 3rem;
  margin: 20px;
  transition: all 300ms;
}
.titulo_productos:hover {
  transform: scale(1.06);
}

.snkrs_productos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 150px;
}

.fondo_gradiente {
  background-image: linear-gradient(to top, #dbdcd7 0%, #dddcd7 24%, #e2c9cc 30%, #e7627d 46%, #b8235a 59%, #801357 71%, #3d1635 84%, #1c1a27 100%);
}

/* ================= FOOTER ============== */
.footer_tres {
  text-align: center;
  padding: 20px;
  margin: 10px;
}

/* ======= SALON DORADO RESET AND CONFIGS ========= */
.body_salon_dorado {
  background-color: rgb(120, 30, 30);
}

.footer_salon {
  text-align: center;
  color: white;
  margin: 10px;
  padding: 10px;
}

/* ========== SALON DORADO PAGINA ====== */
.titulo_salon {
  font-family: "Nike";
  margin: 20px;
  text-align: center;
  font-size: 3rem;
  color: #ffffff;
  transition: all 300ms;
}
.titulo_salon:hover {
  transform: scale(1.06);
}

.trofeos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 150px;
}

div article p {
  padding: 10px;
  margin: 10px;
}

.anillos article p {
  padding: 5px;
}

/* ============= SECCION ANILLOS============ */
.titulo_anillos {
  font-family: "Nike";
  margin: 20px;
  padding: 10px;
  text-align: center;
  font-size: 3rem;
  color: white;
}

@media (min-width: 850px) {
  .anillo {
    width: 390px;
    height: 680px;
    overflow: hidden;
    background-color: rgba(222, 219, 56, 0.587);
    box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition-property: box-shadow;
    transition-duration: 0.9s;
    transition: all 300ms;
  }
}
/* ============ PAGINA ESTADISTICAS =============== */
.titulo_estadisticas {
  color: white;
  font-family: "Nike";
  text-align: center;
  font-size: 3rem;
  margin: 20px;
}

/* =========== TABLA ================ */
.tabla_estadisticas {
  border-collapse: collapse;
  font-family: "Jost", sans-serif;
  background-color: rgb(164, 164, 164);
}
.tabla_estadisticas td {
  border: 3px solid black;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.tabla_estadisticas th {
  border: 3px solid black;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  background-color: black;
}

th abbr {
  text-decoration: none;
}

.resultados th {
  background-color: white;
  color: red;
}

/* =========== FOTO FINAL ============= */
@media (max-width: 1200px) {
  .foto_final {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .foto_final_2 {
    display: none;
  }
  .texto_imagen {
    text-align: center;
    margin: 0;
    font-family: "Jost", sans-serif;
    font-size: 2.5rem;
  }
}
@media (min-width: 1200px) {
  .foto_final {
    display: none;
  }
  .foto_final_2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .texto_imagen {
    text-align: center;
    margin: 0;
    font-family: "Jost", sans-serif;
    font-size: 2.5rem;
  }
}
/* ======== FOOTER============ */
.footer_estadisticas {
  text-align: center;
  padding: 10px;
  margin: 20px;
}

/*# sourceMappingURL=styles.css.map */
