
$background-color: #f6f4d2;
$fuente-ul-h2-parrafo: "Jost", sans-serif;
$color-nav: black;
$align-text: start;
$text-align: center;
$transition: all 300ms;
$color-fuente-parrafos: black;
$font-size-titulos: 1.7rem;
$font-size-titulo: 3rem;
$hover-color: red;
$titulo-parrafos: 2rem;
$font-size-h1: 2rem;
$color-fuentes-portada-tablets-grandes: aliceblue;
$color-links: white;
$color-titulo: black;
$align-body-producto: center;
$align-body-trofeo: center;
$align-items-ul: center;
$align-body-anillo: center;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: aliceblue;
}
ul {
  list-style: none;
  display: flex;
  gap: 60px;
  font-family: $fuente-ul-h2-parrafo;
  padding: 10px;
}
h2 {
  font-family: $fuente-ul-h2-parrafo;
}

body {
  background-color: $background-color;
}
