/* ================== NAV ============== */
.navbar_toggler_icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 0 , 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar_nav {
  font-family: $fuente-ul-h2-parrafo;
  font-size: 1.2rem;
  gap: 20px;
  padding-left: 20px;
}

.nav_link {
  color: $color-links;
  &:hover {
    color: $hover-color;
  }
}
.background_color_nav {
  background-color: $color-nav;
}

.linK_h1_jordan {
  font-family: "Nike";
  font-size: $font-size-h1;
  color: $color-links;
}

.ul_nav {
  font-family: $fuente-ul-h2-parrafo;
  font-size: 1.2rem;
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  gap: 20px;
}
/* =============== INICIO ============ */
.titulo_inicio {
  font-family: "Nike";
  text-align: center;
  font-size: $font-size-titulo;
  color: $color-fuente-parrafos;
  text-align: center;
  transition: $transition;
  margin: 0;
  &:hover {
    transform: scale(1.2);
  }
}
/* =============== PORTADA ============== */
@media (max-width: 500px) {
  .parrafo_portada {
    padding: 10px;
  }
}

@media (max-width: 599px) {
  .portada_box_responsive {
    padding: 10px;
  }

  .titulo_portada {
    color: rgb(176, 56, 56);
    font-family: "Nike";
    font-size: $font-size-titulos;
    text-align: $align-text;
    margin: 0;
    border-radius: 7px;
  }

  .parrafo_portada {
    border-radius: 7px;
    font-size: 1.3rem;
    font-family: $fuente-ul-h2-parrafo;
    text-align: $align-text;
    margin: 0;
  }
}
/* ============= PARRAFOS ============= */
.titulo_parrafos {
  font-family: "Nike";
  text-align: $align-text;
  font-size: $font-size-titulos;
  transition: $transition;
  margin: 0;
  color: rgb(176, 56, 56);
  &:hover {
    transform: scale(1.02);
  }
}

.parrafos_responsive {
  text-align: $align-text;
  display: grid;
  grid-template-columns: 1;
  margin: 10px;
  font-family: $fuente-ul-h2-parrafo;
  & p {
    text-align: $align-text;
    font-family: $fuente-ul-h2-parrafo;
    font-size: 1.3rem;
    padding: 10px;
    margin: 0;
  }
}
.titulo_parrafos {
  font-family: "Nike";
  font-size: $titulo-parrafos;
}

.parrafo {
  padding: 0;
  margin: 0;
}
/* ============ GALERIA ========= */
.galeria_titulo {
  color: rgb(176, 56, 56);
  text-align: center;
  font-family: "Nike";
  font-size: $font-size-titulo;
  transition: $transition;
  margin: 0;
  &:hover {
    transform: scale(1.2);
  }
}
.galeria_imagenes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 50px;
}

.fotos_galeria {
  justify-content: center;
  align-content: center;
  gap: 50px;
  height: 100%;
  transition: $transition;
  &:hover {
    transform: scale(1.05);
  }
}
.frase_box {
  padding: 15px;
  margin: 0;
  & p {
    color: $color-fuente-parrafos;
    font-family: $fuente-ul-h2-parrafo;
    border: 3px solid rgb(176, 56, 56);
    margin: 0;
    text-align: justify;
    font-size: 1.3rem;
    padding: 10px;
    border-radius: 7px;
  }
}
/* ================ FOOTER ====================== */
.footer_inicio {
  text-align: center;
  padding: 1em;
}
/* ============ MEDIA FOOTER ========= */
@media (min-width: 1302px) and (max-width: 1750px) {
  .main_index {
    height: 3000px;
  }
}
/* ================ TABLETS ====================== */
@media (min-width: 600px) and (max-width: 768px) {
  /* ================= NAV ================= */
  .navbar_nav {
    font-family: $fuente-ul-h2-parrafo;
    font-size: 1.2rem;
    gap: 20px;
    padding-left: 20px;
  }

  .nav_link {
    color: $color-links;
    &:hover {
      color: $hover-color;
    }
  }
  .background_color_nav {
    background-color: $color-nav;
  }

  .link_h1_jordan {
    font-family: "Nike";
    font-size: $font-size-h1;
    color: $color-links;
  }

  .ul_nav {
    font-family: $fuente-ul-h2-parrafo;
    font-size: 1.2rem;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    gap: 20px;
  }

  /* ======== PORTADA ======== */

  .portada_box_responsive {
    display: block;
    position: relative;
    background-image: url("../img/portadaa2.jpg");
    flex-direction: column;
    height: 406px;
    width: 750px;
    transition: $transition;
    &:hover {
      transform: scale(1.02);
    }
  }
  .titulo_portada {
    color: white;
    font-size: $titulo-parrafos;
    font-family: "Nike";
    position: relative;
    top: 170px;
  }
  .parrafo_portada {
    display: none;
  }
  /* ================== PARRAFOS ================== */
  .titulo_parrafos {
    font-family: "Nike";
    font-size: $titulo-parrafos;
  }

  .parrafos_responsive p {
    text-align: $align-text;
    padding: 10px;
    font-family: $fuente-ul-h2-parrafo;
  }
}
/* =============== MODIFICACION DE LA PORTADA ============== */
@media (min-width: 769px) and (max-width: 858px) {
  /* ========================= NAV ============================= */
  .navbar_nav {
    font-family: $fuente-ul-h2-parrafo;
    font-size: 1.2rem;
    gap: 20px;
    padding-left: 20px;
  }
  .nav_link {
    color: $color-links;
    &:hover {
      color: $hover-color;
    }
  }
  .background_color_nav {
    background-color: $color-nav;
  }

  .link_h1_jordan {
    font-family: "Nike";
    font-size: $font-size-h1;
    color: $color-links;
  }

  .ul_nav {
    font-family: $fuente-ul-h2-parrafo;
    font-size: 1.2rem;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    gap: 20px;
  }

  /*  ====================== PARRAFOS ============================ */
  .titulo_parrafos {
    font-family: "Nike";
    font-size: $titulo-parrafos;
  }

  .parrafos_responsive p {
    text-align: $align-text;
    padding: 10px;
    font-family: $fuente-ul-h2-parrafo;
  }

  /* =========================== GALERIA ========================== */
  .galeria_imagenes {
    display: flex;
    flex-direction: 2 row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px;
  }
}
/* ============== TABLETS GRANDES ============== */
@media (min-width: 768px) and (max-width: 1199px) {
  /* ================ NAV ============= */
  .navbar_nav {
    font-family: $fuente-ul-h2-parrafo;
    font-size: 1.2rem;
    gap: 20px;
    padding-left: 20px;
  }

  .nav_link {
    color: $color-links;
    &:hover {
      color: $hover-color;
    }
  }
  .background_color_nav {
    background-color: $background-color;
  }

  .link_h1_jordan {
    font-family: "Nike";
    font-size: 2rem;
    color: $color-links;
  }

  .ul_nav {
    font-family: $fuente-ul-h2-parrafo;
    font-size: 1.2rem;
    list-style: none;
    display: flex;
    align-items: $align-items-ul;
    margin: 0;
    gap: 20px;
  }
  /*=========== PORTADA ================ */
  .portada_box_responsive {
    display: block;
    position: relative;
    background-image: url("../img/portadaa2.jpg");
    width: 750px;
    height: 406px;
    flex-direction: column;
    transition: $transition;
    &:hover {
      transform: scale(1.02);
    }
  }
  .titulo_portada {
    position: relative;
    top: 120px;
    font-family: $fuente-ul-h2-parrafo;
    color: $color-fuentes-portada-tablets-grandes;
    font-size: 2rem;
    padding: 20px;
  }
  .parrafo_portada {
    position: relative;
    top: 120px;
    font-family: $fuente-ul-h2-parrafo;
    color: $color-fuentes-portada-tablets-grandes;
    font-size: 1.5rem;
    padding: 10px 20px 10px;
  }

  /* =================== PARRAFOS================ */
  .titulo_parrafos {
    font-family: "Nike";
    font-size: $titulo-parrafos;
  }

  .parrafos_responsive p {
    text-align: $align-text;
    padding: 10px;
    font-family: $fuente-ul-h2-parrafo;
  }
}
/* ================== TABLETS GRANDES EN HORIZONTAL =============== */
@media (min-width: 859px) and (max-width: 1199px) {
  .navbar_nav {
    font-family: $fuente-ul-h2-parrafo;
    font-size: 1.2rem;
    gap: 20px;
    padding-left: 20px;
  }

  .nav_link {
    color: $color-links;
    &:hover {
      color: $hover-color;
    }
  }
  .background_color_nav {
    background-color: $background-color;
  }

  .link_h1_jordan {
    font-family: "Nike";
    font-size: $font-size-h1;
    color: $color-links;
  }

  .ul_nav {
    font-family: $fuente-ul-h2-parrafo;
    font-size: 1.2rem;
    list-style: none;
    display: flex;
    align-items: $align-items-ul;
    margin: 0;
    gap: 20px;
  }
}
/* ========= DESKTOP ========= */
@media (min-width: 1200px) {
  /* ================= NAV BAR ===================== */
  .navbar_nav {
    font-family: $fuente-ul-h2-parrafo;
    font-size: 1.2rem;
    gap: 20px;
    padding-left: 20px;
  }

  .nav_link {
    color: $color-links;
    &:hover {
      color: $hover-color;
    }
  }
  .background_color_nav {
    background-color: $background-color;
  }

  .link_h1_jordan {
    font-family: "Nike";
    font-size: $font-size-h1;
    color: $color-links;
  }

  .ul_nav {
    font-family: $fuente-ul-h2-parrafo;
    font-size: 1.2rem;
    list-style: none;
    display: flex;
    align-items: $align-items-ul;
    margin: 0;
    gap: 20px;
  }

  /* ==============  PORTADA =================== */
  .portada_box_responsive {
    display: block;
    position: relative;
    background-image: url("../img/portadaa.jpg");
    width: 1910px;
    height: 1034px;
    flex-direction: column;
    transition: $transition;
  }

  .portada_responsive:hover {
    transform: scale(1.02);
  }

  .titulo_portada {
    position: relative;
    top: 500px;
    font-family: "Nike";
    color: $color-fuentes-portada-tablets-grandes;
    font-size: $font-size-titulo;
    padding: 20px;
  }

  .parrafo_portada {
    background-color: #252422bd;
    position: relative;
    top: 500px;
    font-family: $fuente-ul-h2-parrafo;
    color: $color-fuentes-portada-tablets-grandes;
    font-size: 25px;
    padding: 10px 20px 10px;
  }
  .nav_responsive {
    gap: 20px;
    display: flex;
    justify-content: baseline;
    text-align: center;
    font-family: "Nike";
    font-size: 1.2rem;
    margin: 0;
  }
  /* ================= PARRAFOS ================ */
  .titulo_parrafos {
    font-family: "Nike";
    font-size: $titulo-parrafos;
  }

  .parrafos_responsive {
    width: 1360px;
    & p {
      text-align: $align-text;
      padding: 10px;
      font-family: $fuente-ul-h2-parrafo;
    }
  }
  /* =============== GALERIA =============== */
  .galeria_imagenes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  /* ========== FRASE ============= */
  .frase_box p {
    width: auto;
    padding: 15px;
    color: $color-fuente-parrafos;
    border-radius: 5px;
    margin: 0;
    text-align: $text-align;
  }
}
