/* ================== NAV ============== */
.navbar-nav {
  font-family: $fuente-ul-h2-parrafo;
  font-size: 1.2rem;
  gap: 20px;
  padding-left: 20px;
}

.nav-link {
  color: white;
  &:hover {
    color: $hover-color;
  }
}
.background-color-nav {
  background-color: $color-nav;
}

.link-h1-jordan {
  font-family: "Nike";
  font-size: 2rem;
  color: white;
}

.ul-nav {
  font-family: $fuente-ul-h2-parrafo;
  font-size: 1.2rem;
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  gap: 20px;
}
/* =============== INICIO ============ */
.titulo_inicio {
  font-family: "Nike";
  text-align: center;
  font-size: 3rem;
  color: black;
  text-align: center;
  transition: $transition;
  margin: 0;
  &:hover {
    transform: scale(1.2);
  }
}
/* =============== PORTADA ============== */
@media (max-width: 500px) {
  .parrafo_portada {
    padding: 10px;
  }
}

@media (max-width: 599px) {
  .portada_box_responsive {
    padding: 10px;
  }

  .titulo_portada {
    color: rgb(176, 56, 56);
    font-family: "Nike";
    font-size: $font-size-titulos;
    text-align: $align-text;
    margin: 0;
    border-radius: 7px;
  }

  .parrafo_portada {
    border-radius: 7px;
    font-size: 1.3rem;
    font-family: $fuente-ul-h2-parrafo;
    text-align: $align-text;
    margin: 0;
  }
}
/* ============= PARRAFOS ============= */
.titulo_parrafos {
  font-family: "Nike";
  text-align: $align-text;
  font-size: $font-size-titulos;
  transition: $transition;
  margin: 0;
  color: rgb(176, 56, 56);
  &:hover {
    transform: scale(1.02);
  }
}

.parrafos_responsive {
  text-align: $align-text;
  display: grid;
  grid-template-columns: 1;
  margin: 10px;
  font-family: $fuente-ul-h2-parrafo;
  & p {
    text-align: $align-text;
    font-family: $fuente-ul-h2-parrafo;
    font-size: 1.3rem;
    padding: 10px;
    margin: 0;
  }
}
.titulo_parrafos {
  font-family: "Nike";
  font-size: 2rem;
}

.parrafo {
  padding: 0;
  margin: 0;
}
/* ============ GALERIA ========= */
.galeria_titulo {
  color: rgb(176, 56, 56);
  text-align: center;
  font-family: "Nike";
  font-size: 3rem;
  transition: $transition;
  margin: 0;
  &:hover {
    transform: scale(1.2);
  }
}
.galeria_imagenes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 50px;
}

.fotos_galeria {
  justify-content: center;
  align-content: center;
  gap: 50px;
  height: 100%;
  transition: $transition;
  &:hover {
    transform: scale(1.05);
  }
}
.frase_box {
  padding: 15px;
  margin: 0;
  & p {
    color: $color-fuente-parrafos;
    font-family: $fuente-ul-h2-parrafo;
    border: 3px solid rgb(176, 56, 56);
    margin: 0;
    text-align: justify;
    font-size: 1.3rem;
    padding: 10px;
    border-radius: 7px;
  }
}
/* ================ TABLETS ====================== */
@media (min-width: 600px) and (max-width: 768px) {
  /* ================= NAV ================= */
  .navbar_nav {
    font-family: $fuente-ul-h2-parrafo;
    font-size: 1.2rem;
    gap: 20px;
    padding-left: 20px;
  }

  .nav_link {
    color: white;
    &:hover {
      color: $hover-color;
    }
  }
  .background_color_nav {
    background-color: black;
  }

  .link_h1_jordan {
    font-family: "Nike";
    font-size: 2rem;
    color: white;
  }

  .ul_nav {
    font-family: $fuente-ul-h2-parrafo;
    font-size: 1.2rem;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    gap: 20px;
  }

  /* ======== PORTADA ======== */

  .portada_box_responsive {
    display: block;
    position: relative;
    background-image: url("../img/portadaa2.jpg");
    flex-direction: column;
    height: 406px;
    width: 750px;
    transition: $transition;
    &:hover {
      transform: scale(1.02);
    }
  }
  .titulo_portada {
    color: white;
    font-size: 2rem;
    font-family: "Nike";
    position: relative;
    top: 170px;
  }
  .parrafo_portada {
    display: none;
  }
  /* ================== PARRAFOS ================== */
  .titulo_parrafos {
    font-family: "Nike";
    font-size: 2rem;
  }

  .parrafos_responsive p {
    text-align: $align-text;
    padding: 10px;
    font-family: $fuente-ul-h2-parrafo;
  }
}
/* =============== MODIFICACION DE LA PORTADA ============== */