/* ======= SALON DORADO RESET AND CONFIGS ========= */
.body_salon_dorado {
  background-color: rgb(120, 30, 30);
}
.footer_salon {
  text-align: $text-align;
  color: white;
  margin: 10px;
  padding: 10px;
}

/* ========== SALON DORADO PAGINA ====== */
.titulo_salon {
  font-family: "Nike";
  margin: 20px;
  text-align: $text-align;
  font-size: $font-size-titulo;
  color: #ffffff;
  transition: $transition;
  &:hover {
    transform: scale(1.06);
  }
}
.trofeos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 150px;
}
div article p {
  padding: 10px;
  margin: 10px;
}
.anillos article p {
  padding: 5px;
}
/* ============= SECCION ANILLOS============ */
.titulo_anillos {
  font-family: "Nike";
  margin: 20px;
  padding: 10px;
  text-align: $text-align;
  font-size: 3rem;
  color: white;
}
@media (min-width: 850px) {
  .anillo {
    width: 390px;
    height: 680px;
    overflow: hidden;
    background-color: rgba(222, 219, 56, 0.587);
    box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition-property: box-shadow;
    transition-duration: 0.9s;
    transition: $transition;
  }
}
