/* =================== SNKRS ====================== */
/* ========== PRODUCTOS =========== */
.titulo_productos {
  font-family: "Nike";
  color: white;
  text-align: $text-align;
  font-size: 3rem;
  margin: 20px;
  transition: $transition;
  &:hover {
    transform: scale(1.06);
  }
}
.snkrs_productos {
  @include FlexTienda;
  gap: 170px;
}

.fondo_gradiente {
  background-image: linear-gradient(
    to top,
    #dbdcd7 0%,
    #dddcd7 24%,
    #e2c9cc 30%,
    #e7627d 46%,
    #b8235a 59%,
    #801357 71%,
    #3d1635 84%,
    #1c1a27 100%
  );
}
/* ================= FOOTER ============== */
.footer_tres {
  text-align: $text-align;
  padding: 20px;
  margin: 10px;
}
