/* ============ SOBRE JORDAN ========== */
.main_dos {
  height: 1500px;
  font-family: $fuente-ul-h2-parrafo;
}

@media (min-width: 390px) and (max-width: 412px) {
  .main_dos {
    height: 4000px;
  }
}

@media (min-width: 412px) and (max-width: 430px) {
  .main_dos {
    height: 3700px;
  }
}

@media (min-width: 430px) and (max-width: 480px) {
  .main_dos {
    height: 3500px;
  }
}

@media (min-width: 481px) and (max-width: 577px) {
  .main_dos {
    height: 3100px;
  }
}

@media (min-width: 577px) and (max-width: 769px) {
  .main_dos {
    height: 2900px;
  }
}

@media (min-width: 770px) and (max-width: 992px) {
  .main_dos {
    height: 2200px;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .main_dos {
    height: 1700px;
  }
}
/* ============ TITTLE ========== */
.sobre_jordan {
  text-align: $text-align;
  font-size: $font-size-titulo;
  color: $color-titulo;
}

@media (min-width: 390px) and (max-width: 577px) {
  .sobre_jordan {
    text-align: $text-align;
    font-size: 2.25rem;
    color: $color-titulo;
  }
}
/* ============ LINEA DEL TIEMPO =================*/
.parrafos_sobre h3 {
  font-family: "Nike";
  font-size: 1.9rem;
  color: rgb(176, 56, 56);
  margin: 0;
  transition: $transition;
  &:hover {
    transform: scale(1.04);
  }
}
.parrafos_sobre p {
  font-family: $fuente-ul-h2-parrafo;
  font-size: 1.3rem;
  padding: 25px 10px 25px 10px;
  margin: 0;
}

/* ======== FOOTER ========== */
.footer_sobre {
  text-align: $text-align;
}
