/* ============ SOBRE JORDAN ========== */
.main_dos {
  height: 1500px;
  font-family: $fuente-ul-h2-parrafo;
}

@media (min-width: 390px) and (max-width: 412px) {
  .main_dos {
    height: 4000px;
  }
}

@media (min-width: 412px) and (max-width: 430px) {
  .main_dos {
    height: 3700px;
  }
}

@media (min-width: 430px) and (max-width: 480px) {
  .main_dos {
    height: 3500px;
  }
}

@media (min-width: 481px) and (max-width: 577px) {
  .main_dos {
    height: 3100px;
  }
}

@media (min-width: 577px) and (max-width: 769px) {
  .main_dos {
    height: 2900px;
  }
}

@media (min-width: 770px) and (max-width: 992px) {
  .main_dos {
    height: 2200px;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .main_dos {
    height: 1700px;
  }
}
/* ============ TITTLE ========== */
.titulo_sobre_jordan {
  text-align: $text-align;
  font-size: $font-size-titulo;
  color: $color-titulo;
}

@media (min-width: 350px) {
  /* ================== NAV ============== */
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 0 , 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  .navbar_nav {
    font-family: $fuente-ul-h2-parrafo;
    font-size: 1.2rem;
    gap: 20px;
    padding-left: 20px;
  }
  .nav_link {
    color: $color-links;

    &:hover {
      color: $hover-color;
    }
  }
  .background_color_nav {
    background-color: $color-nav;
  }
  .linK_h1_jordan {
    font-family: "Nike";
    font-size: $font-size-h1;
    color: $color-links;
  }
  .ul_nav {
    font-family: $fuente-ul-h2-parrafo;
    font-size: 1.2rem;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    gap: 20px;
  }
    /* ==================  TITULO ================== */
  .titulo_sobre_jordan {
    text-align: $text-align;
    font-size: 3rem;
    color: white;
    font-family: "Nike";
    margin: 20px;
  }
  .link_h1_jordan {
    font-family: "Nike";
    font-size: $font-size-h1;
    color: $color-links;
  }
  .body_sobre {
    background-image: $background-color2;
  }
}
/* ============ LINEA DEL TIEMPO =================*/
.parrafos_sobre h3 {
  font-family: "Nike";
  font-size: 1.9rem;
  color: rgb(52, 31, 190);
  margin: 0;
  transition: $transition;
  &:hover {
    transform: scale(1.04);
  }
}
.parrafos_sobre p {
  font-family: $fuente-ul-h2-parrafo;
  font-size: 1.3rem;
  padding: 25px 10px 25px 10px;
  margin: 0;
}

/* ======== FOOTER ========== */
.footer_sobre {
  text-align: $text-align;
}
